//-------------------------- Content page  ----------------
//-------------------------- card group ----------------
mixin cardGroup(par)
	section.title-group
		.row
			.col-xs-9
				h2.title #{par.title || 'Group title'}
			.col-xs-3.pager
				.viev-all
					+link(par.link)
				.button-group
					nav
						ul.pagination
							li: a(href="#", aria-label="Previous")
								span(aria-hidden="true").glyphicon.glyphicon-chevron-left
							li: a(href="#", aria-label="Next")
								span(aria-hidden="true").glyphicon.glyphicon-chevron-right
	+card(par.cards)
//---------------------------- card --------------------
mixin card(params)
	section.row.item-cards
		each item in params
			.col-xs-4
				.col-xs-12.item-card
					.row.image-wrapper
						.image
							img(src="./files/images/cards/#{item.img || 1}.jpg")
						if item.sales || item.like
							.col-xs-12.marks
								if item.sales
									span.sale Sale
								if item.like
									span.like.glyphicon.glyphicon-heart
					.row.description
						h4.col-xs-12.item-title #{item.desc.title || 'Title for item'}
						.col-xs-12.item-descr
							p #{item.desc.text || 'Description for item'}
						.col-xs-12.item-price
							h5
								if item.link
									+link(item.link)
						.col-xs-12.add-to-cart
							button.btn.add-too-curt #{item.button || 'Add to cart'}
//---------------------------- shop-now -------------------
mixin shop-now(params)
	each item in params
		.col-xs-4
			if item.img
				section.shop-now
					section.img-wrapper
						img(src="./files/images/cards/shop now/shop-now-#{item.img}.jpg")
					section.title-group
						section.title-bg
						.description
							h4.title #{item.title}
							p #{item.desc}
							if item.link
								+link(item.link)
			else
				section.shop-now.blank
					section.title-group
						.description
							h4.title #{item.title}
								span.sub-title #{item.subtitle}
							p #{item.desc}
//--------------------------- aside ----------------------
//--------------------------- Populars -------------------
mixin linksList(params)
	if params.title
		h3 #{params.title}
	ul()&attributes({'class': params.class})
		if params.links
			each item in params.links
				li
					+link(item)
			if params.search
				li.pull-right
					form.navbar-form.navbar-right(role="search")
						.form-group
							input.form-control(type="text" placeholder="search")
						button.glyphicon.glyphicon-search.btn(type="submit" aria-hidden="true")

//--------------------------- common ---------------------
//--------------------------- link -----------------------
mixin link(params)
	if typeof params === 'undefined'
		a()&attributes({title: 'Link', href: '#'})
	else
		if typeof params === 'string'
			- title = params
		a()&attributes({href: (params.href || '#'), class: params.class}) #{params.title || title}
			if params.price
				span.price $#{params.price}