ul.nav.navbar-nav.ul-tm-2
    li.dropdown.dd-1
        a#flag.dropdown-toggle(
        href="#"
        data-toggle="dropdown"
        role="button"
        aria-expanded="false"
        )
            span.flag.flag-icon-background.flag-icon-gb(title="gb")
            span.word English
            span.caret
        ul.dropdown-menu(role="menu")
            li: a(href="#")
                span.flag.flag-icon-background.flag-icon-gb(title="gb")
                span.word English
            li: a(href="#")
                span.flag.flag-icon-background.flag-icon-ua(title="ua")
                span.word Ukrainian
            li: a(href="#")
                span.flag.flag-icon-background.flag-icon-ru(title="ru")
                span.word Russian
    li.dropdown.dd-2
        a#cur.dropdown-toggle(
        href="#"
        data-toggle="dropdown"
        role="button"
        aria-expanded="false"
        )
            span.word Currecy: &nbsp;
            span.cur.usd usd
            span.caret
        ul.dropdown-menu(role="menu")
            li
                a(href="#")
                    span.cur.usd USD
            li
                a(href="#")
                    span.cur.grn GRN

