ul.nav.navbar-nav.ul-tm-2
    li.dropdown.dd-1
        a.dropdown-toggle(
        href="#"
        data-toggle="dropdown"
        role="button"
        aria-expanded="false"
        )
            span.flag.flag-icon-background.flag-icon-gb(title="gb")
            span.word English
            span.caret
        ul.dropdown-menu(role="menu")
            li: a(href="#")
                span.flag.flag-icon-background.flag-icon-gb(title="gb")
                | Eng
            li: a(href="#")
                span.flag.flag-icon-background.flag-icon-ua(title="ua")
                | Ukr
            li: a(href="#")
                span.flag.flag-icon-background.flag-icon-ru(title="ru")
                | Rus
    li.dropdown.dd-2
        a.dropdown-toggle(
        href="#"
        data-toggle="dropdown"
        role="button"
        aria-expanded="false"
        )
            span.word Currecy:
            span usd
            span.caret
        ul.dropdown-menu(role="menu")
            li
                a(href="#") USD
            li
                a(href="#") GRN

