ul.nav.navbar-nav.ul-tm-2
	li.dropdown
		a.dropdown-toggle(
			href="#"
			data-toggle="dropdown"
			role="button"
			aria-expanded="false"
		)
			| English
			span.caret
		ul.dropdown-menu(role="menu")
			li: a(href="#")
				span.flag.flag-icon-background.flag-icon-gb(title="gb")
				| Eng
			li: a(href="#")
				span.flag.flag-icon-background.flag-icon-ua(title="ua")
				| Ukr
			li: a(href="#")
				span.flag.flag-icon-background.flag-icon-ru(title="ru")
				| Rus
	li.dropdown
		a.dropdown-toggle(
			href="#"
			data-toggle="dropdown"
			role="button"
			aria-expanded="false"
		) Currecy:
			span  usd
			span.caret
			ul.dropdown-menu(role="menu")
				li: a(href="#") USD
				li: a(href="#") GRN

